body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
  padding: 20px;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #007bff;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

input,
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
}

select {
  height: 40px;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

button {
  width: 48%;
  padding: 10px;
  margin: 5px 1%;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

button:hover {
  background-color: #0056b3;
}

#results {
  margin-top: 20px;
}

#resultsTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

#resultsTable th,
#resultsTable td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

#resultsTable th {
  background-color: #f2f2f2;
  font-weight: bold;
}
